@font-face {
	font-family: RBNo2 Light;
	src: url("RBNo2Light.otf") format("opentype");
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'RBNo2 Light';
}
* {cursor: none;}
#container {
	width: 100%;
	height: 100%;
}
#main {
	width: 86%;
	height: 100%;
	align-content: center;
	overflow : hidden;
	float: left;

	background: #66cc99;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cc99), color-stop(100%, #339999));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
	/* IE10+ */
	background: linear-gradient(-45deg, #66cc99 0%, #339999 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cc99, endColorstr=#339999, GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}
#main > img {
	width: 100%;
	height: 100%;
}
#right_bar {
	width: 14%;
	height: 100%;
	/*overflow : hidden;*/
	overflow: fill;
	float: right;
	background: url('right_bar.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#clockbox {
	padding-top: 2.5vh;
	font-family: 'RBNo2 Light';
	font-size: 7vh;
	color: #ffffff;
	position: relative;
	text-align: center;
}
#bus {
	padding-top: 7vh;
	font-family: 'RBNo2 Light';
	font-size: 7vh;
	color: #ffffff;
	position: relative;
	text-align: center;
}
#splitter{
	position: absolute;
	left: 0;
	right:0;
	width: 100%;
	height: 0.8%;
	top : 86%;
	z-index: 999;
	background: #339999;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#splitter_right{
	position: absolute;
	right: 14%;
	left: 86%;
	width:14%;
	height: 0.8%;
	top : 86%;
	z-index: 1000;
	background: #999999;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#marquee{
	position: absolute;
	left:0;
	right:0;
	height: 14%;
	top : 86%;
	z-index: 998;
	background-color:rgba(255,255,255,0.8);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#marquee > marquee {
	font-family: 'RBNo2 Light';
	font-size: 6.5vh;
	color: #339999;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#logo{
	position: absolute;
	right: 14%;
	left: 86%;
	height: 14%;
	width: 14%;
	top: 86%;
	z-index: 999;
	background: #339999;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#logo > img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	width:90%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
table {
	width:100%;
	padding: 2vh;
}
table tr td.busstop_title {
	padding-top: 2vh;
	color:#bbbbbb;
	font-size: 3.8vh;
	text-align: left;
}
.circle{
    display: inline-block;
    width:3.8vh;
    height:3.8vh;
    border-radius: 4vh;
    background-color: #bbbbbb;
    text-align: center;
    color:#339999;
	font-size: 4.2vh;
	vertical-align: middle;

}
table tr td.busno{
	padding-top: 0.5vh;
	color:#ffffff;
	font-size: 4vh;
}

table tr td.bustime{
	padding-top: 0.5vh;
	color:#ffffff;
	font-size: 4vh;
	text-align: right;
}